<nav>
  <div class="site-title">
    <a href="/"><h1>Real Madrid Blogposts</h1></a>
    <p>Games and transfers</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>